.editor-main-navbar {
  background-color: var(--lightest-grey);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.editor-navbar-content {
  flex-direction: row;
  align-items: baseline;
}

.editor-navbar-content-item {
  padding: 0.5rem 1rem;
}

.icon-link {
  color: var(--text-color);
  font-weight: bold;
  margin: 0 0.25rem;
}

.wbdv-close {
  font-size: x-large;
  margin: 0 1em 0 0;
  opacity: 0.9;
}

.wbdv-new-page-btn {
  color: var(--text-color)!important;
}

.section-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
  margin: 5px;
}

.wbdv-module-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.module-selected {
  background-color: var(--lightest-green);
}

.icon-link:hover {
  color: var(--green);
  text-decoration: none;
}

.delete-btn:hover {
  color: var(--dark-red)
}

.topic-content {
  border: 1px solid var(--lightest-grey);
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: 10px;
}

.topic-selected {
}

.topic-link {
  color: var(--text-color);
}

.wbdv-topic-pill-list {
  align-items: baseline;
}

.widget-heading-bar {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.widget-body {
  padding: 0.75rem 1.5rem;
}

.widget-edit-row {
  padding: 0.5rem;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.widget-input-label {
  max-width: 33.333333%;
}

.widget-input-field {
  width: 100%;
  max-width: 66.666666%;
}

.heading-widget-edit {
  border: 1px solid var(--very-light-grey);
  border-radius: 0.25rem;
  background-color: var(--lightest-grey);
  margin: 0 0 1rem 0;
}

.widget-edit-heading {
  background-color: var(--faded-light-green);
  padding: 0.5rem;
  border-radius: 0.125rem;
  margin: 0 0 0.5rem 0;
  border: solid var(--very-light-grey);
  border-width: 0 0 1px 0;
}

.heading-widget-preview {
  border: 1px solid var(--very-light-grey);
  border-radius: 0.25rem;
  background-color: var(--lightest-grey);
  padding: 0.5rem;
}

.widget-clickable-label {
  color: var(--text-color);
}

.widget-clickable-label:hover {
  color: var(--green);
  text-decoration: none;
}