:root {
  --default-max-width: 1000px;
  --default-text-color: #212529;
  --default-green: #00AA6C;
  --default-dark-green: #008A4C;
  --default-darker-green: #00582d;
  --white: #FFFFFF;
  --default-lightest-grey: #f8f9fa;
  --default-lighter-grey: #dee2e6;
  --default-light-grey: #BBBBBB;
  --default-grey: #909090;
  --default-dark-grey: #848484;
  --default-darker-grey: #666666;
  --default-darkest-grey: #333333;
  --default-red: #DC143C;
  --default-dark-red: #BC042C;
}

::placeholder {
  opacity: 0.3;
}

body {
  padding: 25px 50px;
  background-color: var(--default-lightest-grey);
  max-width: var(--default-max-width);
}

.wbdv-field {
  border-radius: 3px;
  border: 1px solid #008A4C;
  background: #F9F9F9;
  flex-basis: 15em;
}

.wbdv-link {
  font-size: 14px;
  min-width: max-content;
}

.wbdv-button {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border-color: var(--default-dark-green);
  font-size: large;
  color: var(--white);
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px 0;
}

.input-form-row {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}

.input-label {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 125px;
  font-size: large;
}

.cancel-btn {
  max-width: 100px;
  font-size: medium;
}

.row {
  margin: 0;
}